@import url(./../css/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
html {
  font-size: 18px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 17px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 16px; } }

html,
body {
  height: 100%; }

.title {
  color: #000000;
  font-size: 2.6666666667rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 3.1666666667rem;
  margin-bottom: 0;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .title {
      font-size: 2rem;
      line-height: 1; } }
  @media screen and (max-width: 400px) {
    .title {
      font-size: 1.5555555556rem; } }

body {
  font-family: "Play", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  box-sizing: border-box; }

a {
  color: inherit; }

img {
  display: block;
  max-width: 100%; }

.logo {
  height: 42px;
  width: 42px; }

.phone-number {
  display: flex;
  align-items: center;
  font-size: 21px;
  font-weight: 400;
  text-decoration: none; }
  .phone-number .phone-number__text {
    white-space: nowrap; }
  .phone-number .phone-number__icon {
    flex-shrink: 0;
    margin-right: 3px; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.section {
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 36.1111111111rem;
  background-color: #fff;
  color: #000000;
  position: relative; }
  @media screen and (max-width: 480px) {
    .section {
      min-height: initial; } }
  @media screen and (max-width: 400px) {
    .section:after {
      display: none; } }

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

@media screen and (max-width: 768px) {
  .header__phone-number {
    display: none; } }

.phone-icon {
  width: 12px;
  height: 11px; }

.hero__section {
  background-color: #f5f5f5; }
  .hero__section:after {
    content: url(./../image/bg/small.png);
    position: absolute;
    bottom: -0.8888888889rem;
    right: 2.6666666667rem;
    z-index: 1; }
  .hero__section .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1.2777777778rem 0 2.5rem 0; }
    .hero__section .hero__container:before {
      width: 22.2222222222rem;
      height: 22.2222222222rem;
      content: '';
      background: url(./../image/bg/firstpage.png);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 45%;
      transform: translateY(-50%);
      right: 1rem; }
    @media screen and (max-width: 768px) {
      .hero__section .hero__container:before {
        display: none; } }

.menu {
  margin: 0 30px;
  padding-top: 5px; }
  @media screen and (max-width: 768px) {
    .menu {
      display: none; } }
  .menu--vertical {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 36px;
    margin-right: 0; }
    .menu--vertical .menu__item {
      margin-right: 0; }

.menu__list {
  display: flex;
  align-items: center;
  font-size: 0.8888888889rem;
  font-weight: 400;
  flex-wrap: wrap;
  justify-content: center; }

.menu__item {
  margin-right: 1.4444444444rem;
  margin-bottom: 10px; }
  .menu__item:last-child {
    margin-right: 0; }

.menu__link {
  text-decoration: none;
  white-space: nowrap; }

.menu {
  margin-right: 0.8888888889rem; }

.menu__item-link {
  text-decoration: none; }

.feature {
  display: flex; }

.feature__icon {
  width: 2.5rem;
  margin-right: 0.3888888889rem; }

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.9444444444rem;
  line-height: 1.3; }

.features {
  display: flex; }

.features__item {
  margin-right: 2.2222222222rem; }
  .features__item:last-child {
    margin-right: 0; }

.noize-icon {
  width: 2.4444444444rem;
  height: 2.4444444444rem; }

.charging-icon {
  width: 2.4444444444rem;
  height: 2.4444444444rem; }

.plug-icon {
  width: 2.4444444444rem;
  height: 2.4444444444rem; }

.btn {
  font-size: 1.0555555556rem;
  font-weight: bold;
  padding: 1rem 1.7777777778rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none; }
  .btn--theme--red {
    background: #e01f3d;
    color: #fff; }
    .btn--theme--red:hover {
      color: #e01f3d;
      background: #fff;
      cursor: pointer; }
  .btn--theme--transparent {
    background: transparent;
    color: #999999;
    text-transform: none; }
    .btn--theme--transparent:hover {
      color: #e01f3d;
      cursor: pointer; }

.hero__title {
  text-align: left;
  max-width: 22.2222222222rem; }
  @media screen and (max-width: 768px) {
    .hero__title {
      text-align: center;
      max-width: 38.8888888889rem; } }

.hero__title-section {
  margin-top: 1.9444444444rem;
  position: relative; }
  .hero__title-section .hero__title-desc {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1.0555555556rem;
    max-width: 18.6111111111rem; }
  .hero__title-section .btn {
    margin-top: 2rem; }
  @media screen and (max-width: 768px) {
    .hero__title-section {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
      .hero__title-section:before {
        width: 18.3333333333rem;
        height: 18.3333333333rem;
        content: '';
        background: url(./../image/bg/firstpage.png);
        background-size: cover; } }
    @media screen and (max-width: 768px) and (max-width: 400px) {
      .hero__title-section:before {
        width: 13.8888888889rem;
        height: 13.8888888889rem; } }

.hero__features {
  position: relative;
  margin-top: 5.1666666667rem; }
  @media screen and (max-width: 768px) {
    .hero__features {
      display: none; } }

.headline__subtitle {
  margin: 0.6666666667rem auto 0 auto;
  max-width: 31.8888888889rem;
  color: #666666;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.1111111111rem; }
  @media screen and (max-width: 400px) {
    .headline__subtitle {
      font-size: 0.8888888889rem; } }

.benefits__section:after {
  content: url(./../image/bg/triangle.png);
  position: absolute;
  bottom: -0.6666666667rem;
  left: 3.8888888889rem;
  z-index: 1; }

.benefits__container {
  padding: 5.5555555556rem 0 0; }
  @media screen and (max-width: 400px) {
    .benefits__container {
      padding: 0.5555555556rem 0 0; } }

.benefits {
  padding-top: 3.1666666667rem;
  padding-right: 0.8333333333rem;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 480px) {
    .benefits {
      flex-direction: column; } }
  @media screen and (max-width: 400px) {
    .benefits {
      padding-top: 1.6666666667rem; } }

.benefits__item {
  flex: 1;
  padding: 0 2%;
  position: relative; }
  @media screen and (max-width: 480px) {
    .benefits__item {
      padding: 0;
      margin-bottom: 1.0555555556rem; } }
  .benefits__item:before {
    content: url("./../image/decor/separator.png");
    position: absolute;
    top: 2.7777777778rem;
    right: 0;
    transform: translateX(50%); }
    @media screen and (max-width: 480px) {
      .benefits__item:before {
        display: none; } }
  .benefits__item:first-child {
    padding-left: 0; }
  .benefits__item:last-child {
    padding-right: 0; }
    .benefits__item:last-child:before {
      display: none; }
  @media screen and (max-width: 480px) {
    .benefits__item {
      display: none; } }

.benefit {
  text-align: center; }
  @media screen and (max-width: 480px) {
    .benefit {
      display: flex;
      text-align: left; } }

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden; }
  @media screen and (max-width: 400px) {
    .benefit__image-wrapper {
      width: 3.8888888889rem;
      height: 3.8888888889rem; } }

.benefit__icon {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media screen and (max-width: 400px) {
    .benefit__icon {
      width: 3.3333333333rem;
      height: 2.7222222222rem; } }

.benefit__title {
  font-size: 1.3333333333rem;
  font-weight: bold;
  margin-bottom: 0.5555555556rem;
  color: #000; }
  @media screen and (max-width: 400px) {
    .benefit__title {
      font-size: 1.1111111111rem;
      line-height: 1; } }

.benefit__desc {
  max-width: 16.9444444444rem;
  font-size: 0.8888888889rem;
  font-weight: 400; }

.benefit__image {
  margin-bottom: 1.0555555556rem; }
  @media screen and (max-width: 480px) {
    .benefit__image {
      margin-bottom: 0;
      margin-right: 1.1111111111rem; } }

.benefits__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 3.4444444444rem;
  height: 3.4444444444rem; }
  @media screen and (max-width: 400px) {
    .benefits__icon {
      width: 2.2222222222rem;
      height: 2.2222222222rem; } }

.reviews__section {
  position: relative; }
  .reviews__section:after {
    content: url(./../image/bg/round.png);
    position: absolute;
    bottom: -1.1111111111rem;
    left: 3.8888888889rem;
    z-index: 1; }

.reviews {
  margin-top: 1.5555555556rem; }
  @media screen and (max-width: 400px) {
    .reviews {
      margin-top: 0.5555555556rem; } }

.reviews__display {
  overflow: hidden;
  position: relative; }
  .reviews__display:before {
    content: "";
    display: block;
    width: 5rem;
    height: 5rem;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -2.2222222222rem; }
  @media screen and (max-width: 400px) {
    .reviews__display:before {
      display: none; } }

.review__container {
  padding: 3.7777777778rem 0 3.6666666667rem 0; }
  @media screen and (max-width: 400px) {
    .review__container {
      padding-top: 10px; } }

.review__title {
  padding-left: 1.0555555556rem; }

.reviews__title {
  color: #000000;
  font-family: Play;
  font-size: 1.5rem;
  font-weight: 700; }
  @media screen and (max-width: 400px) {
    .reviews__title {
      font-size: 20px; } }

.reviews__display-inner {
  display: flex;
  background-color: #f5f5f5;
  padding: 2.8333333333rem 6.1111111111rem 1.8888888889rem 2.5rem; }
  @media screen and (max-width: 768px) {
    .reviews__display-inner {
      flex-direction: column;
      text-align: center;
      align-items: center;
      padding: 2.8333333333rem 2.5rem 1.8888888889rem 2.5rem; } }
  @media screen and (max-width: 480px) {
    .reviews__display-inner {
      padding: 2.8333333333rem 1.1111111111rem 1.8888888889rem 1.1111111111rem; } }
  @media screen and (max-width: 400px) {
    .reviews__display-inner {
      padding: 0.5555555556rem 0.5555555556rem 0.5555555556rem 0.5555555556rem; } }

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem; }
  @media screen and (max-width: 768px) {
    .reviews__avatar {
      width: 7.2222222222rem;
      height: 7.3333333333rem;
      margin-bottom: 1.6666666667rem; } }
  @media screen and (max-width: 400px) {
    .reviews__avatar {
      margin-bottom: 0.5555555556rem; } }

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.reviews__content {
  flex: 1;
  margin-left: 0.9444444444rem;
  padding-top: 0.4444444444rem; }

.reviews__text {
  margin-bottom: 2rem;
  max-width: 28.5555555556rem;
  font-size: 1rem;
  font-weight: 400;
  margin-top: -6px;
  line-height: 22px; }
  @media screen and (max-width: 400px) {
    .reviews__text {
      font-size: 0.8888888889rem; } }

.reviews__author {
  margin-top: -11px;
  font-size: 1rem;
  font-weight: bold;
  color: black; }

.reviews__switcher {
  padding-left: 13px;
  margin-top: 21px;
  display: flex;
  justify-content: center; }

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  position: relative; }
  .interactive-avatar--active {
    border-color: #e01f3d; }

.interactive-avatar__link {
  display: block;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  height: 100%; }
  .interactive-avatar__link:focus, .interactive-avatar__link:active, .interactive-avatar__link:hover {
    background-color: #e01f3d;
    outline: none; }

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.form {
  display: flex;
  margin-top: 2.5rem; }
  @media screen and (max-width: 400px) {
    .form {
      margin-top: 1.3888888889rem; } }
  @media screen and (max-width: 768px) {
    .form {
      padding: 0 19%;
      flex-direction: column; } }
  @media screen and (max-width: 480px) {
    .form {
      padding: 0; } }

@media screen and (max-width: 768px) {
  .form__title {
    margin-bottom: 3px; } }

.form__col {
  flex: 1;
  margin-right: 1.1111111111rem; }
  .form__col:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .form__col {
      margin-right: 0; } }

.form__row {
  display: flex;
  margin-bottom: 1rem; }
  @media screen and (max-width: 768px) {
    .form__row {
      margin-bottom: 0.6666666667rem; } }

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__input {
  width: 100%;
  padding: 0.8888888889rem 0.6111111111rem;
  border: solid 0.1666666667rem transparent; }
  @media screen and (max-width: 768px) {
    .form__input {
      padding: 0.2777777778rem; } }
  .form__input--textarea {
    height: 10rem;
    resize: none; }
    @media screen and (max-width: 768px) {
      .form__input--textarea {
        height: 4.4444444444rem; } }
  .form__input:focus {
    border-color: #e01f3d;
    outline: none; }

.form__controls {
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 480px) {
    .form__controls {
      justify-content: center; } }
  @media screen and (max-width: 400px) {
    .form__controls {
      justify-content: start; } }

@media screen and (max-width: 768px) {
  .form__btns {
    text-align: center; } }

.order__section {
  background: url("./../image/bg/order.png") 50% 100% no-repeat;
  background-size: cover; }

.order__container {
  padding: 4.2777777778rem 0 2rem 0;
  color: #ffffff; }
  @media screen and (max-width: 768px) {
    .order__container {
      padding-top: 2.2222222222rem; } }
  @media screen and (max-width: 400px) {
    .order__container {
      padding-top: 0.5555555556rem; } }

.order__title {
  color: #ffffff; }

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
  margin-right: 1.2222222222rem; }
  .radio--checkbox .radio__visible {
    border-radius: 0; }

.radio__elem:checked ~ .radio__visible::before {
  background-color: #e01f3d;
  display: block; }
.radio__elem:focus ~ .radio__visible {
  background-color: grey; }

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.5555555556rem; }
  .radio__visible:before {
    content: "";
    width: 0.7777777778rem;
    height: 0.7777777778rem;
    background: #e01f3d;
    border-radius: 50%;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.radio__visible-box:before {
  border-radius: 0; }

.form__controls {
  margin-bottom: 8px; }

.form__btns {
  margin-top: 40px; }

.hamburger {
  width: 24px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger {
      display: inline-flex; } }

.hamburger__plank {
  display: block;
  background: #000;
  height: 4px;
  border-radius: 10px; }

.socials {
  display: flex; }

.socials__item {
  margin-right: 1.1111111111rem; }
  .socials__item:last-child {
    margin-right: 0; }

.socials__link {
  display: block;
  background: #b2b2b2;
  border-radius: 50%;
  height: 2rem;
  position: relative;
  width: 2rem; }
  .socials__link:hover {
    background: #000; }

.social__icon {
  height: 50%;
  left: 50%;
  position: absolute;
  stroke-width: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  fill: #fff; }

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("./../image/content/map.jpg") center center/cover no-repeat; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff; }

.contacts {
  font-style: normal;
  font-size: 1.1111111111rem;
  color: #000; }

.contacts__phone {
  color: #000; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 23px 0;
  background: #fff; }

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .footer__container {
      text-align: center;
      flex-direction: column; } }

.products-section {
  background-color: #f5f5f5;
  position: relative; }

.products-section:after {
  content: url(./../image/bg/black_square.png);
  position: absolute;
  bottom: -1.1111111111rem;
  right: 1.6666666667rem;
  z-index: 1; }

.products-slider {
  position: relative; }

.products-slider .bx-wrapper {
  box-shadow: none;
  border: none;
  background: transparent; }

.products-slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
  @media screen and (max-width: 768px) {
    .products-slider__btn {
      top: 23%;
      transform: translateY(-50%); } }
  @media screen and (max-width: 480px) {
    .products-slider__btn {
      top: 20%; } }

.products-slider__btn--next {
  right: -1.6666666667rem;
  border: none;
  background: transparent; }
  @media screen and (max-width: 768px) {
    .products-slider__btn--next {
      right: 2.2222222222rem; } }
  @media screen and (max-width: 768px) {
    .products-slider__btn--next {
      right: 1.1111111111rem; } }

.products-slider__btn--prev {
  left: -1.6666666667rem;
  border: none;
  background: transparent; }
  @media screen and (max-width: 768px) {
    .products-slider__btn--prev {
      left: 1.1111111111rem; } }

.products__container {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .products__container {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; } }
  @media screen and (max-width: 400px) {
    .products__container {
      padding-top: 0.8333333333rem; } }

.products__specifications {
  margin-bottom: 2.0555555556rem; }
  @media screen and (max-width: 400px) {
    .products__specifications {
      margin-bottom: 0; } }

.products__col {
  width: 46%;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .products__col {
      width: 95%; } }

.products__col:last-child {
  margin-right: 0; }

.products__image {
  position: relative; }

.products__image:after,
.products__image:before {
  content: "";
  display: block;
  position: absolute;
  background: center center / contain no-repeat;
  z-index: 1; }

.products__image-elem {
  width: 25.5555555556rem;
  height: 100%;
  display: block; }
  @media screen and (max-width: 768px) {
    .products__image-elem {
      width: 17.6111111111rem;
      margin: 0 auto; } }
  @media screen and (max-width: 480px) {
    .products__image-elem {
      width: 16.5rem;
      margin: 0 auto; } }
  @media screen and (max-width: 400px) {
    .products__image-elem {
      width: 11.1111111111rem;
      margin: 0 auto; } }

.products__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  line-height: 1;
  color: #0d0d0d;
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .products__title {
      font-size: 1.6666666667rem; } }
  @media screen and (max-width: 400px) {
    .products__title {
      font-size: 1.3333333333rem; } }

.products__text {
  font-size: 16px;
  margin-bottom: 1.4375rem; }

.products__values-row {
  height: 5.5555555556rem; }
  @media screen and (max-width: 400px) {
    .products__values-row {
      height: 3.8888888889rem; } }

.products__values-row:last-child {
  margin-bottom: 0; }

@media screen and (max-width: 768px) {
  .products__values {
    width: 21.6666666667rem;
    margin: 0 auto; } }
@media screen and (max-width: 400px) {
  .products__values {
    width: 16.1111111111rem;
    margin: 0 auto; } }

.products__values-block:first-child {
  padding-right: 1.875rem; }

.products__values-amount {
  font-weight: bold;
  color: #333333; }

.products__values-rub {
  color: #0d0d0d;
  font-size: 1.8888888889rem; }
  @media screen and (max-width: 400px) {
    .products__values-rub {
      font-size: 1.1111111111rem; } }

.products__values-rub-sign {
  font-size: 1.8888888889rem; }
  @media screen and (max-width: 400px) {
    .products__values-rub-sign {
      font-size: 1.1111111111rem; } }

.specifications {
  position: relative;
  display: inline-block; }

.specifications__button {
  width: 5rem;
  height: 5rem;
  background: #6e6e6e;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .specifications__button {
      display: none; } }

.specifications__button-icon-elem {
  fill: currentColor;
  width: 5rem;
  height: 4.8333333333rem;
  display: block;
  padding-bottom: 2.0555555556rem; }

.specifications__button-text {
  font-style: italic;
  line-height: 1; }

.specifications:hover .specifications__dropdown {
  left: 100%;
  opacity: 1; }

.specifications__dropdown {
  color: #2f3234;
  position: absolute;
  left: -624.9375rem;
  top: 0;
  width: 16.875rem;
  background: rgba(255, 255, 255, 0.93);
  border-radius: 5px;
  padding: 1.625rem 0.75rem 1.625rem 2.1875rem;
  transition: opacity .3s;
  opacity: 0; }

.specifications__dropdown:after {
  content: "";
  position: absolute;
  top: 0;
  height: 50%;
  width: 1.875rem;
  left: -1.8125rem; }

.specifications__table {
  width: 100%; }

.specifications__icon {
  width: 2.1875rem;
  height: 2.1875rem; }

.specifications__table-row {
  margin-bottom: 0.8333333333rem;
  display: flex; }

.specifications__table-row:last-child {
  margin-bottom: 0;
  border-bottom: 0; }

.specifications__text-container {
  margin-right: auto; }

.specifications__table-cell {
  vertical-align: middle;
  flex: 1; }
  .specifications__table-cell:last-of-type {
    text-align: right; }

.specifications__icon-container {
  margin-right: auto;
  flex-basis: 2.7777777778rem;
  flex-grow: 0;
  flex-shrink: 0; }

.specifications__text {
  font-size: 1rem;
  font-weight: bold; }

.fullscreen-menu {
  position: fixed;
  left: -1000rem;
  background: rgba(46, 51, 54, 0.93);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  color: #fff; }

.fullscreen-menu_active {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: opacity .3s; }

.fullscreen-menu__close {
  position: absolute;
  top: 2.5rem;
  right: 3.125rem;
  font-size: 3.125rem;
  text-decoration: none; }

/*# sourceMappingURL=main.css.map */
