@import url(./../css/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
html,
body {
  height: 100%; }

.title {
  color: #000000;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 57px;
  margin-bottom: 0;
  text-align: center; }

body {
  font-size: 18px;
  font-family: "Play", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666; }

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden; }

.container {
  width: 940px;
  margin: 0 auto;
  position: relative; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  box-sizing: border-box; }

a {
  color: inherit; }

img {
  display: block;
  max-width: 100%; }

.logo {
  height: 42px;
  width: 42px; }

.phone-number {
  display: flex;
  align-items: center;
  font-size: 21px;
  font-weight: 400;
  text-decoration: none; }
  .phone-number .phone-number__icon {
    margin-right: 3px; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.hero {
  background-color: #f5f5f5;
  height: 100vh;
  height: 650px;
  color: #000000;
  position: relative; }
  .hero .hero__container {
    padding: 23px 0 45px 0; }
    .hero .hero__container:before {
      width: 488px;
      height: 494px;
      content: '';
      background: url(./../../image/bg/firstpage.png);
      background-size: cover;
      position: absolute;
      top: 109px;
      right: 18px; }
    .hero .hero__container:after {
      content: url(./../../image/bg/small.png);
      position: absolute;
      bottom: -16px;
      right: 48px; }

.menu__list {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400; }

.menu__item {
  margin-right: 26px; }
  .menu__item:last-child {
    margin-right: 0; }

.menu__link {
  text-decoration: none; }

.menu {
  margin-right: 16px; }

.feature {
  display: flex; }

.feature__icon {
  width: 45px;
  margin-right: 7px; }

.feature__text {
  font-size: 16px;
  max-width: 89px;
  line-height: 1.3; }

.features {
  display: flex; }

.features__item {
  margin-right: 40px; }
  .features__item:last-child {
    margin-right: 0; }

.btn {
  font-size: 19px;
  font-weight: bold;
  padding: 18px 32px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none; }
  .btn--theme--red {
    background: #e01f3d;
    color: #fff; }
    .btn--theme--red:hover {
      color: #e01f3d;
      background: #fff;
      cursor: pointer; }
  .btn--theme--transparent {
    background: transparent;
    color: #999999;
    text-transform: none; }
    .btn--theme--transparent:hover {
      color: #e01f3d;
      cursor: pointer; }

.hero__title {
  text-align: left;
  max-width: 400px; }

.hero__title-section {
  margin-top: 82px; }
  .hero__title-section .hero__title-desc {
    font-size: 18px;
    font-weight: 400;
    margin-top: 19px;
    max-width: 335px; }
  .hero__title-section .btn {
    margin-top: 36px; }

.hero__features {
  margin-top: 93px; }

.headline__subtitle {
  margin: 12px auto 0 auto;
  width: 574px;
  color: #666666;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 20px; }

.benefits__container {
  width: 994px;
  padding: 100px 0 107px 0; }
  .benefits__container:after {
    content: url(./../../image/bg/triangle.png);
    position: absolute;
    bottom: -12px;
    left: 6px; }

.benefits {
  padding-top: 57px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between; }

.benefits__item {
  flex: 1;
  padding: 0 2%;
  position: relative; }
  .benefits__item:before {
    content: url("./../../image/decor/separator.png");
    position: absolute;
    top: 50px;
    right: 0;
    transform: translateX(50%); }
  .benefits__item:first-child {
    padding-left: 0; }
  .benefits__item:last-child {
    padding-right: 0; }
    .benefits__item:last-child:before {
      display: none; }

.benefit {
  text-align: center; }

.benefit__image-wrapper {
  display: inline-block;
  width: 126px;
  height: 126px;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden; }

.benefit__icon {
  width: 75px;
  height: 69px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.benefit__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000; }

.benefit__desc {
  width: 305px;
  font-size: 16px;
  font-weight: 400; }

.benefit__image {
  margin-bottom: 19px; }

.reviews__display {
  overflow: hidden;
  position: relative; }
  .reviews__display:before {
    content: "";
    display: block;
    width: 90px;
    height: 90px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -40px; }

.review__container {
  padding: 68px 0 66px 0; }
  .review__container:after {
    content: url(./../../image/bg/round.png);
    position: absolute;
    bottom: -20px;
    left: -1px; }

.review__title {
  padding-left: 19px; }

.reviews__title {
  color: #000000;
  font-family: Play;
  font-size: 27px;
  font-weight: 700; }

.reviews__display-inner {
  margin-top: 28px;
  display: flex;
  background-color: #f5f5f5;
  padding: 51px 110px 34px 45px; }

.reviews__avatar {
  width: 254px;
  height: 260px; }

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.reviews__content {
  flex: 1;
  margin-left: 17px;
  padding-top: 8px; }

.reviews__text {
  margin-bottom: 36px;
  width: 514px;
  font-size: 18px;
  font-weight: 400;
  margin-top: -6px;
  line-height: 22px; }

.reviews__author {
  margin-top: -11px;
  font-size: 18px;
  font-weight: bold;
  color: black; }

.reviews__switcher {
  padding-left: 13px;
  margin-top: 21px;
  display: flex;
  justify-content: center; }

.interactive-avatar {
  width: 80px;
  height: 80px;
  position: relative; }
  .interactive-avatar--active {
    border-color: #e01f3d; }

.interactive-avatar__link {
  display: block;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  height: 100%; }
  .interactive-avatar__link:focus, .interactive-avatar__link:active, .interactive-avatar__link:hover {
    background-color: #e01f3d;
    outline: none; }

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.form {
  display: flex;
  margin-top: 45px; }

.form__col {
  flex: 1;
  margin-right: 20px; }
  .form__col:last-child {
    margin-right: 0; }

.form__row {
  display: flex;
  margin-bottom: 18px; }

.form__block {
  flex: 1;
  margin-right: 20px; }
  .form__block:last-child {
    margin-right: 0; }

.form__input {
  width: 100%;
  padding: 16px 11px;
  border: solid 3px transparent; }
  .form__input--textarea {
    height: 180px;
    resize: none; }
  .form__input:focus {
    border-color: #e01f3d;
    outline: none; }

.form__controls {
  display: flex;
  flex-wrap: wrap; }

.order-section {
  background: url("./../../image/bg/order.png"); }

.order__container {
  padding: 77px 0 90px 0;
  color: #ffffff; }

.order__title {
  color: #ffffff; }

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
  margin-right: 22px; }
  .radio--checkbox .radio__visible {
    border-radius: 0; }

.radio__elem:checked ~ .radio__visible::before {
  background-color: #e01f3d;
  display: block; }
.radio__elem:focus ~ .radio__visible {
  background-color: grey; }

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 10px; }
  .radio__visible:before {
    content: "";
    width: 14px;
    height: 14px;
    background: #e01f3d;
    border-radius: 50%;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.radio__visible-box:before {
  border-radius: 0; }

.form__controls {
  margin-bottom: 8px; }

.form__btns {
  margin-top: 40px; }

/*# sourceMappingURL=main.css.map */
