.benefits__container{
  width: rem(994px);
    padding: rem(100px) 0 rem(107px) 0;
    &:after{
        content: url(./../../image/bg/triangle.png);
        position: absolute;
        bottom: rem(-12px);
        left: rem(6px);
     }
}
.benefits {
    padding-top: rem(57px);
    padding-right: rem(15px);
    display: flex;
    justify-content: space-between;
  }
  
  .benefits__item {
    flex: 1;
    padding: 0 2%;
    position: relative;
  
    &:before {
      content: url("./../../image/decor/separator.png");
      position: absolute;
      top: rem(50px);
      right: 0;
      transform: translateX(50%);
    }
  
    &:first-child {
      padding-left: 0;
    }
  
    &:last-child {
      padding-right: 0;
  
      &:before {
        display: none;
      }
    }
  }