



.headline__subtitle{
    margin: rem(12px) auto 0 auto;
    width: rem(574px);
    color: #666666;
    font-size: rem(18px);
    font-weight: 400;
    text-align: center;
    line-height: rem(20px);
}
