.interactive-avatar {
    width: 80px;
    height: 80px;
    position: relative;
  
    &--active {
      border-color: $redpink;
    }
  }
  
  .interactive-avatar__link {
    display: block;
    border: 6px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    &:focus, &:active, &:hover {
      background-color: $redpink;
      outline: none;
    }
  }
  
  .interactive-avatar__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }