.menu{
  margin: 0 30px;
  padding-top: 5px;


  @include tablets{
    display: none;
  }
  &--vertical {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 36px;
    margin-right: 0;
@include phones{
  font-size: 24px;
}
    .menu__item {
      margin-right: 0;
    }
  }

}
.menu__list {
    display: flex;
    align-items: center;
    font-size: rem(16px);
    font-weight: 400;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .menu__item { 
    margin-right: rem(26px);
    margin-bottom: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  
  .menu__link {
    text-decoration: none;
    white-space: nowrap;
  }

  .menu{
    margin-right: rem(16px);
  }

  .menu__item-link{
    text-decoration: none;
  }
  
