.specifications {
    position: relative;
    display: inline-block;
  }
  
  .specifications__button {
    width: rem(90px);
    height: rem(90px);
    background: #6e6e6e;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    @include tablets{
        display: none;
    }
    
  }
  

  
  .specifications__button-icon-elem {
    fill: currentColor;
    width: rem(90px);
    height: rem(87px);
    display: block;
    padding-bottom: rem(37px);
  }
  
  .specifications__button-text {
    font-style: italic;
    line-height: 1;
  }
  
  .specifications:hover .specifications__dropdown {
    left: 100%;
    opacity: 1;
  }
  
  .specifications__dropdown {
    color: #2f3234;
    position: absolute;
    left: -624.9375rem;
    top: 0;
    width: 16.875rem;
    background: rgba(255, 255, 255, 0.93);
    border-radius: 5px;
    padding: 1.625rem 0.75rem 1.625rem 2.1875rem;
    transition: opacity .3s;
    opacity: 0;
  }
  
  .specifications__dropdown:after {
    content: "";
    position: absolute;
    top: 0;
    height: 50%;
    width: 1.875rem;
    left: -1.8125rem;
  }
  
  .specifications__table {
    width: 100%;
  }
  
  .specifications__icon {
    width: 2.1875rem;
    height: 2.1875rem;
  }
  
  .specifications__table-row {
    border-bottom: 5px solid transparent;
  }
  
  .specifications__table-row:last-child {
    border-bottom: 0;
  }
  
  .specifications__text-container {
    padding-left: 0.625rem;
  }
  
  .specifications__table-cell {
    vertical-align: middle;
  }
  
  .specifications__text {
    font-size: 1rem;
    font-weight: bold;
  }