.offers {
    display: flex;
    justify-content: space-between;
    padding-right: 9px;
  }
.offers__item{
    width: calc(100% / 3 - 18px);
}
.offer{
    min-height: 476px;
    background: #fff;
    border-radius: 6px;
    margin-right: 24px;
    width: 360px;
    color: #010001;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 24px 22px 52px;
    border:7px solid transparent;
}
.offers__item:hover{
    border-color: #cbcbcb;
}
.offers__item:last-child {
    margin-right: 0;
}
.offers__header {
        
        min-height: 102px;
        position: relative;
}


.offers__title {
    color: #000000;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 700;
    
}
.offers__cells{
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
}
.offers__cells-cell {
  margin-top: 23px;
}
.offers__cells-cell:last-child{
    margin-right: 0;
}
.offers__cell {
    font-size: 36px;
}
.offers__desc, .offers__cell-desc {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
}
.offers__desc{
    margin-bottom: 38px;
}  
.offers__btn-wrapper {
    display: flex;
    margin-top: auto;
}

.offers__info-target{
    font-size: 16px ;
    font-weight: 700;
}