.partners{
    background-color: #f4f5f5;
    padding: 85px 115px 78px;
}

h2.partners__header{
    color: #202123;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 57px;
}

.partners--list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.partners--list__item {
    text-decoration: none;
    display: flex;
    width: 250px;
    height: 122px;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
  }
  .partners--list__item:hover {
    filter: grayscale(0);
  }

  .partners--list__item:nth-child(4n + 1)
  {
      justify-content: flex-start;
  }
  .partners--list__item:nth-child(4n + 4)
  {
      justify-content: flex-end;
  }