.reviewer{
    background-color: #f4f5f5;
    color: #000;
    padding-top: 79px;
    padding-bottom: 59px;
}

.form__row{
    display: flex;
 margin-bottom: 32px;
}

.form__input{
    flex: 1;
    margin-right: 30px;
    padding: 25px 0 20px 29px;
   outline: none;
   border: none;
}

.form__input:last-child{
    margin-right: 0;  
}

.form__input_comment{
    resize: none;
}

.form__check{
    display: none;
}
.form__check__tag:hover{
    cursor: pointer;
}
.form__check:checked + .form__check__tag{
    background-color: #f2d3c8;
}

.form__service-title{
    font-size: 18px;
    margin-right: 12px;
    white-space: nowrap;
}

.form__row-buttoms{
    display: flex;
    justify-content: flex-end;
}
.form__row-buttoms .submit{
    margin-left: 2px;
}
.submit{
    padding: 17px 50px 21px 47px;
}
.reset{
    padding: 21px 35px;
}
.form__check-descr{
    display: inline-block;
    margin-bottom: 9px;
}
.form__service{
    display: flex;
    margin-bottom: 24px;
}