.btn {
    border-radius: 28px;
    padding: 16px 49px 15px 47px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-left: 0;
    cursor: pointer;
    outline: none;
}
.btn--color--ginger {
    background: #ff3c00;
}
.btn--color--black {
    background: #000;
}
.btn--color--black:hover {
    background: rgb(75, 73, 73);
}
.btn--color--ginger:hover {
    background: #d3a556;
    box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15);
}
.btn--color--white {
    background: #fff;
    color: #ff5400;    
    border: 1px solid #ff5400;
}  
.btn--color--white:hover {
     background: #ff3c00;
     color: #fff;
}