.header {
    display: inline-block;
    margin-bottom: 178px;
    padding-top: 25px;
}


.header__col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
  .header__col--align--right {
    display: inline-block;
    vertical-align: middle;
    padding-right: 9px;
}

.header-service{
    margin-bottom: 33px;
}