.hero {
    margin-bottom: 241px;
    
}  
.hero_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     min-height: 568px;
}
.hero__text-section {
    position: relative;
    text-align: center;
    width: 780px;
    margin: 0 auto;
}
.hero__title {    
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 17px;
    letter-spacing: .5px;
}
.hero__subtitle {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 47px;
    margin-left: 5px;
}
 