.socials__item {
    
    margin-right: 6px;
}  
.socials {
    display: flex;
}
.socials__item:last-child {
    margin-right: 0;
}
  
  .socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
    opacity: .2;
  }
  
  .socials__link:hover{
      opacity: .4;
  }

  .socials__item--icon--telegram .socials__link {
    
    background: url("/VideoProduction/images/icons/socials/social_sprite.png")   -6px -6px;
  }
 
  .socials__item--icon--vk .socials__link {
    
    background: url("/VideoProduction/images/icons/socials/social_sprite.png") -54px -6px;
  }
 
  .socials__item--icon--fb .socials__link {
    
    background: url("/VideoProduction/images/icons/socials/social_sprite.png") -102px -6px;
  }
  
  .socials__item--icon--insta .socials__link {
    
    background: url("/VideoProduction/images/icons/socials/social_sprite.png") -150px -6px;
  }