.socials__item {
    
    margin-right: 6px;
}  
.socials {
    display: flex;
}
.socials__item:last-child {
    margin-right: 0;
}
  
  .socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
    opacity: .2;
  }
  
  .socials__link:hover{
      opacity: .4;
  }
  .socials__item--icon--telegram .socials__link {
    background-image: url("/VideoProduction/images/icons/socials/telegram.png");
  }
 
  .socials__item--icon--vk .socials__link {
    background-image: url("/VideoProduction/images/icons/socials/vkontakte.png");
  }
 
  .socials__item--icon--fb .socials__link {
    background-image: url("/VideoProduction/images/icons/socials/facebook.png");
  }
  
  .socials__item--icon--insta .socials__link {
    background-image: url("/VideoProduction/images/icons/socials/instagram.png");
  }