.hero__title-section{
    margin-top: 82px;
    .hero__main-title{
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 57px;
        margin-bottom: 0;
    }
    .hero__title-desc{
        font-size: 18px;
        font-weight: 400;
        margin-top: 19px;
    }
    .btn{
        margin-top: 36px;
    }

}