.order-section {
  background: url("./../../image/bg/order.png") 
}

.order__container{
  padding: 85px 0 90px 0;
  
  color: #ffffff;
}
.order__title{
text-align: center;
color: #ffffff;
font-family: Play;
font-size: 48px;
font-weight: 700;
text-transform: uppercase;
}